services:
  mongo:
    image: mongo:latest
    volumes:
      - mongo_data:/data/db

backend:
  build: ./backend
  ports:
    - "5000:5000"
  depends_on:
    - mongo
  environment:
    MONGO_URL: mongodb://mongo:27017/mydatabase
    depends_on:
      - mongo

frontend:
  build: ./frontend
  ports:
  - "3000:3000"
  environment:
  -VITE_API_URL: http://localhost:5000/api

volumes:
  mongo_data: 
